.example-spacer {
  flex: 1 1 auto;
}


table {
  width: 100%;
}

.add-btn {
  position: absolute;
  bottom: 0%;
  right: 0%;
  margin: 50px;
}

.form-control {
  padding: 15px;
  border: none;
  border-bottom: 1px solid rgb(171, 171, 171);
  background-color: rgba(216, 216, 216, 0.249);
}